@font-face {
  font-family: "Red Hat Display";
  font-weight: 500;
  src: url("./assets/fonts/red-hat.display-medium-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/red-hat.display-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "Red Hat Display";
  font-weight: 900;
  src: url("./assets/fonts/red-hat.display-black-webfont.woff2") format("woff2"),
    url("./assets/fonts/red-hat.display-black-webfont.woff") format("woff");
}

:root {
  --color-primary: hsl(192, 37%, 48%);
  --color-primary-overlay: hsla(192, 37%, 48%, 90%);
  --color-secondary: hsl(268, 34%, 53%);
  --color-dark: hsl(240, 21%, 20%);
  --color-light: hsl(240, 10%, 57%);
  --color-light-25: hsla(240, 10%, 57%, 25%);
  --color-white: hsl(0, 0%, 98%);
  --color-primary-light: hsl(192, 90%, 77%);
  --color-secondary-light: hsl(268, 100%, 86%);
}

*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Red Hat Display";
  font-weight: 500;
  font-size: clamp(1rem, 0.75rem + 1vw, 1.125rem);
  color: var(--color-light);
}

/* COMPONENTS */

.container {
  padding: 4.5em 1.5em;
  text-align: center;
  position: relative;
}

.btn {
  font: inherit;
  color: var(--color-white);
  font-weight: 900;
  padding: 1em 2.5em;
  border: none;
  border-radius: 100px;
  background-color: var(--color-secondary);
}

.version {
  opacity: 0.7;
}

.container:has(.section-number) {
  margin-top: 5em;
}

.section-number {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: var(--color-white);
  color: var(--color-light);
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-light-25);
}

.section-number::before {
  content: "";
  height: 5.25em;
  width: 1px;
  border: 1px solid var(--color-light-25);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}

.section-overline {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.25em;
  color: var(--color-primary);
  margin-bottom: 1.5em;
}

.section-title {
  color: var(--color-dark);
  font-size: clamp(2rem, 1.5rem + 2vw, 2.5rem);
  font-weight: 900;
  line-height: 1.125;
  margin: 0 auto 1em auto;
  width: min(100%, 28.5rem);
}

.section-text {
  line-height: 1.625;
}

/* UTILITY */
.hidden {
  display: none;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding-top: 3em;
  overflow-x: hidden;
}

.logo {
  width: 7.5rem;
}

.hero__img {
  max-width: 125%;
}

.hero__content {
  width: min(100%, 28rem);
  margin: 0 auto;
}

.hero__title {
  font-size: clamp(2.5rem, 2rem + 2vw, 4rem);
  color: var(--color-dark);
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0.6em;
}

.hero__text {
  margin-bottom: 2em;
}

.btn-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.hero__cta {
  background-color: var(--color-primary);
}

/* FEATURES */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  margin-bottom: 4em;
}

.gallery__img {
  border-radius: 0.5em;
}

.features__container {
  width: min(100%, 33.75rem);
  margin: 0 auto;
}

/* FOOTER */
.footer {
  background-image: linear-gradient(
      var(--color-primary-overlay),
      var(--color-primary-overlay)
    ),
    url("./assets/desktop/image-footer.jpg");
  background-size: cover;
  background-position: center;
  color: var(--color-white);
}

.footer__title {
  color: inherit;
}

.footer__text {
  margin-bottom: 2em;
}

@media (min-width: 48rem) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
